<div style="direction:rtl; text-align:right">

# المشروع السادس: هل تستطيع تصنيف النصوص؟

<div style="direction:rtl; text-align:right">
أهلاً بكم في المشروع السادس من علم البيانات. في هذا المشروع، سنقوم معاً بالنظر إلى بيانات فريدة من نوعها وهي مجموعة من النصوص المصنفة إلى مجالات مختلفة. سنقوم بنمذجة هذه البيانات لتوقع تصنيف النصوص بناء على الكلمات الواردة. تستطيع قراءة المزيد عن البيانات من خلال موقع سايكت-ليرن:

- https://scikit-learn.org/0.19/datasets/twenty_newsgroups.html

<div style="direction:rtl; text-align:right">
ملاحظة: عليك تعديل الخانات التي يوجد فيها الكود أدناه قبل تسليم المشروع. جميع الخانات الأخرى يجب ان تبقى كما هي بدون أي 
تعديل.

```
############################
# عليك تعديل هذه الخانة قبل تسليم المشروع
# YOU HAVE TO EDIT THIS CELLL
############################
```

In [63]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

<div style="direction:rtl; text-align:right">

# قراءة البيانات

In [64]:
from sklearn.datasets import fetch_20newsgroups

In [65]:
newsgroups_data = fetch_20newsgroups(subset='train')

In [78]:
X = newsgroups_data['data']
y = newsgroups_data['target']

In [67]:
#newsgroups_data.target_names
# ['data', 'filenames', 'target_names', 'target', 'DESCR']

<div style="direction:rtl; text-align:right">
لاحظ أن X هنا عبارة عن قائمة بالنصوص، وليست جدول كما هو الحال مع الدروس الأخرى. أما y فهي كذلك قائمة بالتصنيفات المختلفة. لمعرفة معنى التصنيفات نستطيع طباعة target_names:

In [68]:
for i, k in enumerate(newsgroups_data['target_names']):
    print(i, '\t->\t', k)

0 	->	 alt.atheism
1 	->	 comp.graphics
2 	->	 comp.os.ms-windows.misc
3 	->	 comp.sys.ibm.pc.hardware
4 	->	 comp.sys.mac.hardware
5 	->	 comp.windows.x
6 	->	 misc.forsale
7 	->	 rec.autos
8 	->	 rec.motorcycles
9 	->	 rec.sport.baseball
10 	->	 rec.sport.hockey
11 	->	 sci.crypt
12 	->	 sci.electronics
13 	->	 sci.med
14 	->	 sci.space
15 	->	 soc.religion.christian
16 	->	 talk.politics.guns
17 	->	 talk.politics.mideast
18 	->	 talk.politics.misc
19 	->	 talk.religion.misc

<div style="direction:rtl; text-align:right">
وهنا سنقوم بطباعة أول قيمة من X

In [69]:
print(X[0])

From: lerxst@wam.umd.edu (where's my thing)
Subject: WHAT car is this!?
Nntp-Posting-Host: rac3.wam.umd.edu
Organization: University of Maryland, College Park
Lines: 15

 I was wondering if anyone out there could enlighten me on this car I saw
the other day. It was a 2-door sports car, looked to be from the late 60s/
early 70s. It was called a Bricklin. The doors were really small. In addition,
the front bumper was separate from the rest of the body. This is
all I know. If anyone can tellme a model name, engine specs, years
of production, where this car is made, history, or whatever info you
have on this funky looking car, please e-mail.

Thanks,
- IL
   ---- brought to you by your neighborhood Lerxst ----

<div style="direction:rtl; text-align:right">
لنقم أولاً بعرض كم عدد النصوص لكل صنف ؟ قد تحتاج لاستخدام باندا للقيام بالمهمة!

In [79]:
############################
# عليك تعديل هذه الخانة قبل تسليم المشروع
# YOU HAVE TO EDIT THIS CELLL
############################
df =pd.DataFrame(list(zip(X, y)), 
                 columns =['text', 'target']) 
df['target'].value_counts()

10    600
15    599
8     598
9     597
11    595
13    594
7     594
14    593
5     593
12    591
2     591
3     590
6     585
1     584
4     578
17    564
16    546
0     480
18    465
19    377
Name: target, dtype: int64

<div style="direction:rtl; text-align:right">
نرى أن لدينا توازن في توزيع النصوص بين الأصناف المختلفة

<div style="direction:rtl; text-align:right">

# تجهيز البيانات

<div style="direction:rtl; text-align:right">
ماذا نعمل عادة مع البيانات النصية؟ في هذه الحالة، سيكون أمامنا الكثير لنعمله حتى نقوم بتنظيف هذه البيانات وتهيئتها للتحليل. لذلك سنقوم بكتابة بعض الأوامر التي تساعدنا على ذلك.

<div style="direction:rtl; text-align:right">
المهمة الأولى: تنظيف النص

In [81]:
import re

In [82]:
############################
# عليك تعديل هذه الخانة قبل تسليم المشروع
# YOU HAVE TO EDIT THIS CELLL
############################


# HINT: figure out how to: delete special charachters, delete numbers, delete email addresses
#          if you dont know, use google!


def clean_text(df, text_col):
    df[text_col] = df[text_col].str.lower()
    df[text_col] = df[text_col].apply(lambda elem: re.sub(r"(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)|^rt|http.+?", "", elem))  
    # remove numbers
    df[text_col] = df[text_col].apply(lambda elem: re.sub(r"\d+", "", elem))
    
    return df

                                                text  target
0  from lerxstumdedu wheres my thingsubject what ...       7
1  from guykuouwashingtonedu guy kuosubject si cl...       4
2  from twillisecnpurdueedu thomas e willissubjec...       4
3  from jgreen joe greensubject re weitek p organ...       1
4  from jcmcfaharvardedu jonathan mcdowellsubject...      14

<div style="direction:rtl; text-align:right">
حسنا، سنقوم الآن برؤية أثر هذه التعديلات على العنصر الأول في قائمة النصوص

In [106]:
sample_df =clean_text(df[0:10][:], 'text')
sample_df['text'][0]

'from lerxstumdedu wheres my thingsubject what car is thisnntppostinghost racwamumdeduorganization university of maryland college parklines  i was wondering if anyone out there could enlighten me on this car i sawthe other day it was a door sports car looked to be from the late searly s it was called a bricklin the doors were really small in additionthe front bumper was separate from the rest of the body this is all i know if anyone can tellme a model name engine specs yearsof production where this car is made history or whatever info youhave on this funky looking car please emailthanks il    brought to you by your neighborhood lerxst '

<div style="direction:rtl; text-align:right">
سنقوم الآن بتنفيذ ذات الأمر على باقي النصوص في X:

In [90]:
############################
# عليك تعديل هذه الخانة قبل تسليم المشروع
# YOU HAVE TO EDIT THIS CELLL
############################

data_clean = clean_text(df, 'text')

<div style="direction:rtl; text-align:right">
الآن سنقوم باستخدام Td-IDF لتحويل الكلمات إلى مصفوفة ضخمة حتى نستخدمها في النمذجة. في الخانة التالية، ستقوم باستخدام TfidfVectorizer لتحويل النص.

In [92]:
############################
# عليك تعديل هذه الخانة قبل تسليم المشروع
# YOU HAVE TO EDIT THIS CELLL
############################
from sklearn.feature_extraction.text import CountVectorizer
vec = CountVectorizer(encoding='utf-8',   
                             min_df=.01,               
                             max_df=.95)                

trn_term_doc = vec.fit_transform(data_clean.text)

In [96]:
trn_term_doc

<11314x1736 sparse matrix of type '<class 'numpy.int64'>'
	with 906767 stored elements in Compressed Sparse Row format>

<div style="direction:rtl; text-align:right">

# نمذجة البيانات

<div style="direction:rtl; text-align:right">
سنقوم الآن بنمذجة البيانات. لنبدأ بالانحدار اللوجستي. في الخانة أدناه، قم باستيراد كلاً من مكتبة الانحدار اللوجستي، وأمر cross_val_score ثم استخدمهم في تدريب النموذج والتحقق من صحته.

In [98]:
############################
# عليك تعديل هذه الخانة قبل تسليم المشروع
# YOU HAVE TO EDIT THIS CELLL
############################

# HINT: You should use `train_data` as your input

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score

model = LogisticRegression()
scores = cross_val_score(model, trn_term_doc, df.target, scoring='accuracy')

/Users/Faisal/opt/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
/Users/Faisal/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/Faisal/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
/Users/Faisal/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

In [99]:
avg_score = scores.mean()

In [100]:
print('Average accuracy is: ', avg_score)

Average accuracy is:  0.7260922179793363

<div style="direction:rtl; text-align:right">
لا تحتاج في هذا المشروع إلى تسليم أي ملف إلى كاقل. ولكن تأكد من صحة الإجابات ثم قم بتسليم المشروع في الموقع.